*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;

  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/* Общие настройки */

input {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
.content {
  /* display: flex;
  align-items: flex-end; */
  display:grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  align-items: end;
}

/* Левый блок */
.search-form {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.search-form__submit-button {
  background-color: transparent;
  border: 1px solid #fff;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: #fff;
  width: 194px;
  height: 34px;
}

.result__video-container {
  width: 100%;
  height: 386px;
  margin-bottom: 16px;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


/* Правый блок */
.content__list-container {
  width: 399px;
  height: 298px;
  overflow: hidden scroll;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}



.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 94%;
}
.content__accent {
  color: #545050;
}
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}
.content__video-card {
  display: flex;
  justify-content: space-between;
}
.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}
.content__video-card-title {
  font-size: 30px;
  line-height: 100%;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  margin-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

